<h1>All restaurants</h1>

<ul>
<% @restaurants.each do |restaurant| %>
<li><%= link_to restaurant_path(restaurant) do%>
<%=  restaurant.name %>
<% end %>
</li>
<% end %>
</ul>
<br>
<br>
<%= link_to "Add a restaurant", restaurants_new_path %>
